@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css');

:root {
    --bg-base: #1e1e2e;
    --bg-card: #313244;
    --text-main: #cdd6f4;
    --accent-blue: #89b4fa;
    --accent-red: #f38ba8;
    --accent-orange: #fab387;
    --accent-green: #a6e3a1;
    --accent-grey: #6c7086;
}

body {
    width: 300px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    padding: 16px;
    background-color: var(--bg-base);
    color: var(--text-main);
    box-sizing: border-box;
}

.card {
    background: var(--bg-card);
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 0.9rem;
    color: #a6adc8;
}

.status-badge {
    font-weight: bold;
    font-size: 1.1rem;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    margin-bottom: 10px;
}
.btn.primary {
    background: var(--accent-blue);
    color: #11111b;
}
.btn.secondary {
    background: #11111b;
    color: var(--accent-blue);
    border: 1px solid var(--accent-blue);
}

.btn:hover {
    filter: brightness(1.1);
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text-tag {
    color: #f1f1f1f1;
    border-radius: 10px;
    padding: 1px 2px 2px;
    background: #a6e3a1
}